* {
    box-sizing: border-box;
}

body {
    margin: unset;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: midnightblue;
    padding: 5%;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    gap: 30px;
    padding: 30px;
    background-color: skyblue;
}

.sketchpad-container {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.grid-row {
    display: flex;
    gap: 1px;
    flex: 1 0 auto;
}

.grid-column {
    background-color: azure;
    flex: 1 0 auto;
}

.blue {
    background-color: blue;
}