* {
    box-sizing: border-box;
    font-family: Ubuntu, monospace;
    font-size: 20px;
    font-weight: 800;
}

body {
    margin: unset;
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: midnightblue;
    padding: 5%;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    gap: 30px;
    padding: 30px;
    background-color: skyblue;
    color: blue;
}

.sketchpad-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    aspect-ratio: 1;
}

.grid-row {
    display: flex;
    gap: 1px;
    flex: 1 0 auto;
}

.grid-column {
    background-color: azure;
    flex: 1 0 auto;
}

.blue {
    background-color: blue;
}

@media only screen and (orientation: landscape) {
    .sketchpad-container {
        height: 100%;
        max-width: 100%;

    }
}

@media only screen and (orientation: portrait) {
    .sketchpad-container {
        width: 100%;
        max-height: 100%;
    }
}

button {
    border: none;
    padding: 0.5em 1em;
    background-color: blue;
    color: azure;
    cursor: pointer;
}